
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <title>Angry Bird</title>
            <link rel="stylesheet" href="assets/css/main.css" />

          </head>
          <body>
            <div class="page">
              <!-- <div class="heart__container"></div> -->
              <div class="sun"></div>
              <button class="kiss__btn" type="button">Kiss Her</button>
              <div class="cloud cloud1"></div>
              <div class="cloud cloud2"></div>
              <div class="cloud cloud3"></div>
              <div class="cloud cloud4"></div>
              <div class="cloud cloud5"></div>
              <div class="cloud cloud6"></div>

              <div class="bird-body">
                <div class="forelock"></div>
                <div class="eyebrows"></div>
                <div class="eyes">
                  <div class="e-left">
                    <div class="e-left-mood"></div>
                  </div>
                  <div class="e-right">
                    <div class="e-right-mood"></div>
                  </div>
                </div>
                <div class="mouth">
                  <div class="mouth-up"></div>
                  <div class="mouth-down"></div>
                  <div class="teeth"></div>
                </div>
                <div class="tail"></div>
              </div>

                    <div class="bird-body lady">
                <div class="forelock"></div>
                <div class="eyebrows"></div>
                <div class="eyes">
                  <div class="e-left">
                    <div class="e-left-mood"></div>
                  </div>
                  <div class="e-right">
                    <div class="e-right-mood"></div>
                  </div>
                </div>
                <div class="mouth">
                  <div class="mouth-up"></div>
                  <div class="mouth-down"></div>
                </div>
                <div class="tail"></div>
              </div>
            </div>
            </div>

          </body>
        </html>

        <script type="text/javascript" src="assets/js/main.js"></script>

      </body>
    </html>

  </body>
</html>
